{% extends 'base.html' %} {% block header %} {% include 'header.html' %} {%
endblock %} {% block content %}

<div class="content-wrapper">
  <div class="content-block">
    <h3 class="block-title">Объекты</h3>
    <table class="block-table"></table>
  </div>
  <div class="content-block">
    <h3 class="block-title">Опыты</h3>
    <table class="block-table"></table>
  </div>
  <div class="content-block">
    <h3 class="block-title">Результаты</h3>
    <table class="block-table"></table>
  </div>
</div>

{% endblock %}
